@media (max-width: 400px) and (max-width: 786px) {

    /* Global styling */
    header {
        background: var(--header-footer-color);
    }

    /* Navigation Bar */

    .navbar {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15rem, 100%);
        padding: 0;
        z-index: 10;
        border-left: 1px solid var(--hover-effect-color);
        transition: right 300ms ease-out;

    }

    .show {
        right: 0;
    }


    .navbar-links {
        width: 100%;
        flex-direction: column;

    }


    .navbar-links a {
        width: 100%;
        padding-left: 2.5rem;
    }

    /* Hamburger Menu */
    #open-sidebar-button {
        display: block;

    }

    #close-sidebar-button {
        display: block;

    }

    /* Hero Section */
    #hero h1 {
        font-size: 2.5em;
    }

    #hero p {
        font-size: 1em;
    }

    .cta-button {
        padding: 12px 30px;
    }

    .social-links a {
        font-size: 1em;
    }

    /* About Me Section */
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        margin-left: 0;
        text-align: center;
    }

    .profile-img {
        max-width: 200px;
        height: 200px;
    }

    .about-text h2 {
        font-size: 2em;
    }

    .about-text p {
        font-size: 1rem;
    }

    .skills ul li {
        font-size: 1em;
    }

    /* Services Section */
    .service-card h3 {
        font-size: 1.6em;
    }

    .service-card p {
        font-size: 0.95em;
    }

    .btn {
        font-size: 1em;
        padding: 8px 25px;
    }

    /* Testimonial Section */

    .testimonial-container {
        flex-direction: column;
    }

    #testimonials h2 {
        font-size: 2em;
    }

    .testimonial {
        width: 260px;
    }

    .testimonial-text {
        font-size: 1em;
    }

    /* Portfolio Section */
    #portfolio h2 {
        font-size: 2em;
    }

    .overlay h3 {
        font-size: 1.5em;
    }

    .overlay p {
        font-size: 1em;
    }

    /* Contact Section */
    .contact-form-container,
    .newsletter-container {
        padding: 30px;
    }

    .contact-form-container input,
    .contact-form-container textarea {
        font-size: 0.9em;
    }

    .newsletter-container input {
        width: 250px;
    }

    .newsletter-form {
        flex-wrap: wrap;
    }

    .subscribe-btn {
        display: block;
    }

    /* Footer Section */
    .footer-container {
        flex-direction: column;
        text-align: left;
    }

    .footer-info,
    .footer-social,
    .footer-newsletter {
        flex: 1 1 100%;
    }
}